<h1>Deal listing</h1>
<p></p>
<hr>
<table class="listing burgers" style="width:100%">
<!-- ruby code to get list do -->
<tr><td>Deal label</td><td>Restaurant</td><td>Deal offer</td></tr>

<%
 deals = Deal.all.sort_by!{|x| x.label} 
 deals.each do |deal|   %>
<ul>
  <tr>
    <td><a href="/restaurants/<%= deal.restaurant.id %>/deals/<%= deal.id %>">
    <%= deal.label %></a></td>
    <td> <em><%= deal.restaurant.name %> </em></td> 
    <td> <%= deal.discount * 100.0  %>% discount &amp; <%= deal.money_off %>p off </td>
  </tr>
</ul>
<% end %> <!-- ruby end -->
</table>  