<h1>Deal listing for <%= Deal.int_to_weekday(params[:id].to_i) %></h1>
<p></p>
<hr>
<table class="listing deals" style="width:100%">
  <tr><td>Cost / p</td><td>Restaurant</td><td>Burger</td><td>Saving / p</td><td>Stars</td><td>Deal Name</td></tr>
  <% deals_of_day = [] %>
  <% #binding.pry %>
    <% @deals.each do |deal|%>
      <% deal.burgers.each do |burger| 
           deals_of_day << {  'restaurant' => deal.restaurant.name, 
                              'burger' => burger.name, 
                              'saving' => deal.savings(burger.price), 
                              'cost' =>  burger.price - deal.savings(burger.price),
                              'stars' => burger.preference.to_i,
                              'dealname' => deal.label             
                            } 
            end  
         end    %>
  <% deals_of_day.sort_by!{|x| x['cost']}  %>
  <% deals_of_day.each do |deal| %>
    <tr>
      <td> <%= sprintf("%0.f", deal['cost'] )  %> </td>
      <td> <%= deal['restaurant'] %> </td>
      <td> <%= deal['burger']  %> </td>
      <td> <%= sprintf("%0.f", deal['saving'] ) %> </td>
      <td> <% deal['stars'].times do |p| %> <%=  "* " %> <% end %>  </td>
      <td> <%= deal['dealname'] %></td>
    </tr>
<%   end %>
</table>