<form method="POST" action="/restaurants/<%= @restaurant.id %>/deals">
  
<!-- Show Restaurant details -->
<p>
  <label>Restaurant Name: <%=@restaurant.name%></label>
</p>
<!-- Deal details -->
<!-- Label for deal -->
<p>
  <label for="label">Name for deal: </label>
  <input id="label" type="text" name="label" />
</p>
<!-- Day of deal  (enhancement - as a range creating multiple 1 day deal entries, or multi-day deal) -->
<!-- <p>
  <label for="day">Day of deal: (YYYY-MM-DD) </label>
  <input id="day" type="text" name="day" />
</p>
 -->
 <input id="day" type="radio" name="day" value="2017-02-26" checked>Sunday 
 <input id="day" type="radio" name="day" value="2017-02-27" >Monday 
 <input id="day" type="radio" name="day" value="2017-02-28" >Tuesday 
 <input id="day" type="radio" name="day" value="2017-03-01" >Wednesday 
 <input id="day" type="radio" name="day" value="2017-03-02" >Thursday 
 <input id="day" type="radio" name="day" value="2017-03-03" >Friday 
 <input id="day" type="radio" name="day" value="2017-03-04" >Saturday 


<!-- discount -->
<p>
  <label for="discount">Discount as fraction: </label>
  <input id="discount" type="number" name="discount" min=0 max=1 step=0.01>
</p>
<p>
  <label for="money-off">Money off as pence: </label>
  <input id="money-off" type="number" name="money_off" min=0 step=1>p
</p>

<!-- Select burgers from list of burgers for restaurant
  as checkbox list -->
  <p>Burgers in deal:</p>
  <% @restaurant.burgers.each do |burger| %>
    <p>
    <label for="burger-<%= burger.id %>"><%=burger.name%></label>
    <input id="burger-<%= burger.id %>" 
        type="checkbox" 
        name="burger_ids[]" 
        value="<%= burger.id %>" 
        checked>  
    </p>
  <% end %>
<input class="btn btn--action" type='submit' value="Add new Deal for <%=@restaurant.name%>">

</form>