<!-- Restaurant Details page -->
<h1>Details for <%=@restaurant.name%></h1>
<!-- MVP show name  - done in title-->
<!-- MVP show address details -->
<h2>Address:</h2>
  <%= @restaurant.address.street_addr %> <%=@restaurant.address.street %>, 
  <%= @restaurant.address.area %>, 
  <%= @restaurant.address.city %> 
  <%= @restaurant.address.post_code %>
<p><%= @restaurant.address.telephone %></p>

<a class="link-to-details" href="/restaurants/<%= @restaurant.id %>/edit">Edit details</a>
<hr>
<h2>Available burgers</h2>
<a class="link-to-details" href="/restaurants/<%= @restaurant.id %>/burgers/new">Add new burger (to this restaurant)</a>
<p></p>
<!-- list burgers for restaurant -->
<!-- for each burger show -->
<table class="listing burgers">

  <tr><th>Burger name</th><th>Price/p</th><th>Rating</th><th></th></tr>
      <% @restaurant.burgers.each do |burger| %>
  <tr>
    <td><%= burger.name %></td>
    <td><%= burger.price %></td>
    <td><% burger.preference.times do |p| %> <%= "* " %> <% end %></td>
    <td><a class="link-to-details" href="/restaurants/<%= @restaurant.id %>/burgers/<%= burger.id %>/edit">Edit details</a></td>
  </tr>
  <% end %>
</table>
 
 <hr>
 <h2>Deals at <%=@restaurant.name%></h2>
 <a class="link-to-details" href="/restaurants/<%= @restaurant.id %>/deals/new">Add a new deal to <%= @restaurant.name %></a>
 <p></p>
<table> 
  <tr>
    <th>Day</th><th>Label</th><th>Burger Name</th><th>Savings on deal</th><th>Cost</th><th></th>
  </tr>
  <% @restaurant.deals.each do |deal| %>
    <% deal.burgers.each do |burger| %>
      <tr>
        <td><%= Deal.int_to_weekday(deal.day.wday) %></td>
        <td><%= deal.label %></td>
        <td><%= burger.name %></td>  
        <td><%= deal.savings(burger.price) %></td>
        <td><%= burger.price.to_i - deal.savings(burger.price) %> </td>
        <td>
          <a class="link-to-details" href="/restaurants/<%= @restaurant.id %>/deals/<%= deal.id %>/edit">Edit details</a>
        </td>
      <tr> 
    <% end %>
  <% end %>
</table>
 <p></p>
   <!-- edit link -->
 <hr>
