<!-- Restaurant Details page -->
<h1>Details for <%=@restaurant.name%></h1>
<!-- MVP show name  - done in title-->
<!-- MVP show address details -->
<h2>Address:</h2>
<p>
  <%=@restaurant.address.street_addr %> <%=@restaurant.address.street %>
</p>
<p><%= @restaurant.address.area %></p>
<p><%= @restaurant.address.city %></p>
<p><%= @restaurant.address.post_code %></p>
<p><%= @restaurant.address.telephone %></p>
<hr>
<h2>Available burgers</h2>

<!-- list burgers for restaurant -->
<!-- for each burger show -->
<% @restaurant.burgers.each do |burger| %>
  <!-- MVP label -->
<h3>Name: </h3><%= burger.name %>
  <!-- price -->
<h3>Price: </h3><%= burger.price %>
  <!-- preference -->
<h3>Stars: </h3><%= burger.preference %>  
<% end %>
  <!-- Enhancement - order by preference or by name or by in next deals -->
 
