<!-- Restaurant Details page -->
<h1>Details for <%=@restaurant.name%></h1>
<!-- MVP show name  - done in title-->
<!-- MVP show address details -->
<h2>Address:</h2>
<p>
  <%=@restaurant.address.street_addr %> <%=@restaurant.address.street %>
</p>
<p><%= @restaurant.address.area %></p>
<p><%= @restaurant.address.city %></p>
<p><%= @restaurant.address.post_code %></p>
<p><%= @restaurant.address.telephone %></p>
<hr>
<h2>Available burgers</h2>

<!-- list burgers for restaurant -->
<!-- for each burger show -->
<% @restaurant.burgers.each do |burger| %>
  <!-- MVP label -->
<p>Name: <%= burger.name %></p>
  <!-- price -->
<p>Price: <%= burger.price %></p>
  <!-- preference -->
<p>Stars: <% burger.preference.times do %> <%= p "* " %> <% end %></p>
<% end %>
  <!-- Enhancement - order by preference or by name or by in next deals -->
 
